.login {
  margin: 20px auto;
  padding: 40px 50px;
  max-width: 300px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 1px 1px #666;
}

.login input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 14px 12px;
  font-size: 16px;
  border-radius: 2px;
  font-family: Raleway, sans-serif;
}

.login input[type=text],
.login input[type=password] {
  border: 1px solid #c0c0c0;
  transition: .2s;
}

.login input[type=text]:hover {
  border-color: #F44336;
  outline: none;
  transition: all .2s ease-in-out;
}

.login input[type=submit] {
  border: none;
  background: #EF5350;
  color: white;
  font-weight: bold;
  transition: 0.2s;
  margin: 20px 0px;
}

.login input[type=submit]:hover {
  background: #F44336;
}

.login h2 {
  margin: 20px 0 0;
  color: #EF5350;
  font-size: 28px;
}

.login p {
  margin-bottom: 40px;
}

.links {
  display: table;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #c0c0c0;
  margin-bottom: 10px;
}

.links a {
  display: table-cell;
  padding-top: 10px;
}

.links a:first-child {
  text-align: left;
}

.links a:last-child {
  text-align: right;
}

.login h2,
.login p,
.login a {
  text-align: center;
}

.login a {
  text-decoration: none;
  font-size: .8em;
}

.login a:visited {
  color: inherit;
}

.login a:hover {
  text-decoration: underline;
}

.modal-dialog {
  max-width: 40% ;
}

/* for file upload section */

#drop-area {
  border: 2px dashed #aaa;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3F3EED;
  background-color: rgb(233, 233, 255);
  border-radius: 8px;
  min-height: 2in;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.drop-text {
  font-size: 18px;
  color: #888;
}

#dropped-content {
  width: calc(100% - 23px);
  height: 200px;
  min-height: 69px;
  max-height: 312px;
  margin-top: 20px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #555;
  resize: vertical;
  background-color: #444;
  color: #fff;
  outline: none;
  border-radius: 8px;
}

#dropped-content::-webkit-scrollbar {
  width: 8px;
}

#dropped-content::-webkit-scrollbar-track {
  background-color: #444;
}

#dropped-content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

#dropped-content::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.drop-icon i {
  color: #888;
  font-size: 4.5rem;
}

#chars {
  color: #888;
  float: right;
}

#spellcheck {
  display: flex;
  align-items: center;
  gap: 5px;
}

#outer-dot {
  background-color: #007bff;
  width: 3rem;
  height: 1.5rem;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background 200ms;
}

#dot {
  background-color: #eee;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0 5px;
  transform: translateX(22px);
  transition: transform 200ms;
}

.dropdown-menu.show {
  background-color: red;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: rgb(173, 80, 80);
  color: white;
}

.btn-primary {
  font-size: 16px;
}

.question_answer__wrapper__chatbot .single__question__answer:last-child{
  margin-bottom: 200px;
}

@media (max-width: 768px) {
  .modal-dialog {
    max-width: 80% ;
  }
}
@media (max-width: 576px) {
  .modal-dialog {
    max-width: 100% ;
  }
}